/* ----------------- Reset ----------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}


/* ----------------- Layout ----------------- */

main {
    margin: 150px 200px; 
    display: flex;
}

.car {
    padding: 30px 40px 0 40px;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 5px 0 0 5px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 5px 5px 0;
}



/* ----------------- Position, size ... ----------------- */

img {
    height: 30px;
 }

h2 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin: 25px 0;
}

p {
    line-height: 25px;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 80px;
}







/* ----------------- Button ----------------- */

button {
    background-color: hsl(0, 0%, 95%);
    padding: 15px 35px;
    border: none;
    border-radius: 30px;
    margin-bottom: 40px;
}


.sedans button {
    color: hsl(31, 77%, 52%);
}

.suvs button {
    color: hsl(184, 100%, 22%);
}

.luxury button {
    color: hsl(179, 100%, 13%);
}

button:hover {
    cursor: pointer;
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    color: inherit;
    background-color: inherit;
    margin-bottom: 36px;
}




@media all and (max-width: 1024px) {
    main {
        margin: 100px 150px;
    }

    .sedans {
        border-radius: 5px 5px 0 0;
    }

    .luxury {
        border-radius: 0 0 5px 5px;
    }
}


@media all and (max-width: 768px) {
    main {
        flex-direction: column;
        margin: 80px 20px;
    }

    p {
        margin-bottom: 30px;
    }
}


/* ----------------- Mobile ----------------- */

@media all and (max-width: 480px) {

    main {
        margin: 50px 20px;
    }

    .car {
        padding: 40px 25px;
    }
}

