/* ----------------- Reset ----------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsl(0, 0%, 95%);
}


/* ----------------- Layout ----------------- */

main {
    margin: 100px auto;
    width: 70%;
    display: flex;
}

.car {
    padding: 30px 40px 0 40px;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 5px 0 0 5px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 5px 5px 0;
}



/* ----------------- Position, size ... ----------------- */

img {
    height: 30px;
 }

h2 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin: 25px 0;
}

p {
    line-height: 25px;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 80px;
}







/* ----------------- Button ----------------- */

button {
    background-color: hsl(0, 0%, 95%);
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    margin-bottom: 40px;
}


.sedans button {
    color: hsl(31, 77%, 52%);
}

.suvs button {
    color: hsl(184, 100%, 22%);
}

.luxury button {
    color: hsl(179, 100%, 13%);
}

button:hover {
    cursor: pointer;
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    color: inherit;
    background-color: inherit;
    margin-bottom: 36px;
}








/* ----------------- Mobile ----------------- */

/*
@media all and (max-width: 375px) {
    body {
        width: 100vh;
    }

    main {
        flex-direction: column;
        margin: 50px auto;
        width: 90%;
    }

    .car {
        padding: 40px 25px;
    }
}

*/